html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
}
body {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    background-image: url("/images/fondo.webp"); /* Asegúrate de que esta sea la ruta correcta a tu imagen */
    background-size: cover; /* La imagen de fondo cubre toda la página, ajustándose según sea necesario */
    background-position: center center; /* Centra la imagen de fondo horizontal y verticalmente */
    background-attachment: fixed; /* La imagen de fondo es fija en la ventana gráfica */
    background-repeat: no-repeat; /* La imagen no se repite */
}

.logo {
    height: 70px;
    width: auto;
}

.modal-body {
    overflow-y: auto;
    max-height: 70vh;
}

.grid-container {
    max-height: 230px; /* Ajusta la altura máxima si es necesario */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido excede el max-height */
    display: flex;
    flex-wrap: wrap;
    justify-content: start; /* Alinea los elementos al inicio */
    gap: 5px; /* Reduce el espacio entre los elementos para hacerlo más compacto */
    padding: 0.5rem; /* Agrega algo de padding dentro del contenedor */
}
.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.grid-container div {
    width: 40px; /* Reduce el tamaño de los círculos */
    height: 40px; /* Reduce el tamaño de los círculos */
    border-radius: 50%; /* Mantiene la forma circular */
    background-color: #17a2b8; /* Mantiene el color de fondo azul */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75rem; /* Disminuye el tamaño de la fuente para que se ajuste al círculo más pequeño */
    border: 1px solid #fff; /* Borde más delgado para los círculos */
}

.circle.gray {
    background-color: #6c757d; /* Mantiene el color de fondo gris para círculos inactivos */
}

/* Añade estilos para las columnas con bordes */
.border {
    border: 1px solid #ddd; /* Añade un borde sutil */
    border-radius: 5px; /* Opcional: para bordes redondeados */
    padding: 15px; /* Añade algo de espacio dentro de las columnas */
}

.info-sold {
    color: #6c757d;
}

.info-available {
    color: #17a2b8;
}

/* .custom-navbar-color {
    background-color: #0275d8; 
  }
   */

.fixed-size-card {
    height: auto; /* Altura fija */
    width: auto; /* Ancho fijo */
}

.info-title {
    font-size: 16px; /* O cualquier tamaño que prefieras */
}

.info-text {
    font-size: 14px; /* O cualquier tamaño que prefieras */
}

.highlight {
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Haz el texto más grueso */
    margin: 0; /* Elimina los márgenes por defecto si es necesario */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra para un mayor énfasis */
}

/* .bg-row {
  background-color: rgba(255, 255, 255, 0.7); 
} */

.table-responsive {
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(171, 12, 12, 0.1);
    max-height: 350px;
}

.my-table {
    width: 100%;
    background-color: rgba(
        255,
        255,
        255,
        0.8
    ); /* Considera reducir la opacidad para mayor contraste */
}

.my-table thead th {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    padding: 8px; /* Reducción del padding */
    font-size: 0.8em; /* Ligeramente más pequeño */
}

.my-table tbody tr {
    border-bottom: 1px solid #dee2e6;
}

/* .my-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.9);
} */

.my-table td,
.my-table th {
    padding: 7px; /* Reducción del padding para hacer las celdas más compactas */
    font-size: 0.7em; /* Tamaño de fuente reducido para ahorrar espacio */
    text-align: center;
}

/* Para títulos fuera de las tablas, si deseas hacerlos más pequeños y sutiles */
.title-style {
    color: #17a2b8;
    font-size: 1.2em; /* Ajuste del tamaño de fuente del título */
}

/* Estilos para las filas de la tabla */
.table-row-odd {
    background-color: #f8f9fa; /* Color para filas impares */
}

.table-row-even {
    background-color: #ffffff; /* Color para filas pares */
}

.my-table-wrapper {
    display: block;
    max-height: 200px; /* Ajusta según la altura deseada */
    overflow-y: auto;
}

.my-table thead th {
    position: sticky;
    top: 0;
    background-color: #5f9ea0; /* O el color de fondo de tu encabezado */
    color: #ffffff;
    z-index: 1; /* Asegura que el encabezado se sobreponga al contenido del cuerpo */
}

.event-finished-message {
    text-align: center; /* Alinea el texto al centro */
    background: none; /* Sin fondo para mantener el diseño limpio */
    font-size: 0.9rem; /* Un tamaño de fuente más pequeño */
    color: #343a40; /* Un color oscuro que asumo es parte de tu paleta */
}

.event-finished-message h3 {
    color: #dc3545;
    font-size: 2em;
    font-weight: normal;
}

.event-finished-message p {
    margin-bottom: 0; /* Sin margen inferior para evitar espacio extra */
}

.nav-link-enhanced {
    color: #ffffff !important; /* Asegura que el color sea blanco o cualquier color más claro que el fondo */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease; /* Añade una transición suave para la opacidad */
}

.nav-link-enhanced:hover {
    opacity: 0.75; /* Hace el enlace un poco opaco al pasar el mouse */
}
.event-status {
    font-size: 0.75rem; /* Tamaño de fuente pequeño */
    color: #fff; /* Color de texto que contraste con tu barra de navegación */
    background-color: rgba(40, 167, 69, 0.8);
    padding: 2px 4px; /* Un poco de relleno alrededor del texto */
    border-radius: 4px; /* Bordes redondeados */
    display: block; /* Asegura que se muestre en una nueva línea */
    text-align: center;
    margin-top: 4px; /* Espacio sobre el estado */
    margin-left: 4px;
    max-width: 120px;
}

.event-status.finalizado {
    background-color: rgba(220, 53, 69, 0.8);
}
.blinking-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ff00;
    margin-left: 5px;
    animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.icon {
    margin-right: 6px;
}
.containers {
    padding: 1.5rem; /* Menos padding para compactar */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0.5rem 0; /* Menos margen para reducir espacio */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.trophy-icon {
    font-size: 2.5rem; /* Ícono más pequeño */
    color: #ffd700;
    margin-bottom: 0.75rem; /* Menos espacio debajo del ícono */
}

.prize-title {
    font-size: 1.5rem; /* Título más pequeño */
    color: #333;
    margin-bottom: 0.25rem; /* Menos espacio entre el título y la cantidad */
}

.prize-amount {
    font-size: 1.25rem; /* Texto de cantidad más pequeño */
    font-weight: bold;
    color: #27a745;
    margin-bottom: 0.75rem; /* Menos espacio entre la cantidad y los detalles */
}

.prize-detail {
    font-size: 0.9rem; /* Detalles más pequeños */
    margin-top: 0.5rem;
    color: #495057;
}

.price-info {
    font-weight: 400;
    margin-top: 10px; /* Espacio por encima del precio para separarlo del botón */
}

.price-info strong {
    font-weight: 700; /* Peso de fuente más fuerte para el precio */
    color: #17a2b8; /* Color que combina con el botón de compra */
}

.no-participants-alert {
    color: #155724; /* Un verde oscuro para el texto */
    background-color: #d4edda; /* Un verde claro para el fondo */
    border-color: #c3e6cb; /* Un verde intermedio para el borde */
    padding: 1rem; /* Un relleno generoso para la alerta */
    border-radius: .25rem; /* Bordes redondeados */
    font-weight: 400; /* Hacer el texto en negritas */
    text-align: center; /* Centrar el texto */
    margin-top: 2rem; /* Agregar espacio en la parte superior */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Una ligera sombra para dar profundidad */
}


.cta-button {
    background-color: #17a2b8;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover,
.cta-button:focus {
    background-color: #159ab6;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
    cursor: pointer;
}
  

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre iconos */
    padding-top: 3rem; /* Espacio por encima de los iconos */
}

.social-icons a {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons a:hover,
.social-icons a:focus {
    transform: scale(1.1); /* Aumenta el tamaño ligeramente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.instagram-icon .fa-instagram {
    color: #c13584; /* Color de Instagram */
}

.facebook-icon .fa-facebook-f {
    color: #3b5998; /* Color de Facebook */
}

.whatsapp-icon .fa-whatsapp {
    color: #25d366; /* Color de WhatsApp */
}

footer a.text-white:hover {
    text-decoration: none;
    color: #ccc; /* Cambia el color al pasar el mouse */
}

/* footer {
    background-color: #0275d8;
} */

/* Estilos para móviles */
@media (max-width: 768px) {
    .logo {
        height: 80px;
    }
    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-brand {
        flex-grow: 1;
        text-align: center;
    }

    .navbar-brand img.logo {
        margin: auto;
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }

    .event-status {
        max-width: 100%;
        margin-left: 0px;
        font-size: 1.3rem;
    }

    .blinking-dot {
        width: 13px;
        height: 13px;
    }
    .prize-detail {
        font-size: 1.1rem;
    }
}

